* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Snarsky';
    src: url('./fonts/SnarskyOldStyleNarrow.ttf') format('truetype');
}

:root {
    --primary-color: #f2f2f2;
    --secondary-color: #313640;
    --tertiary-color: #e6e6e6;
    --card-text-color: #3f4552;
    --letter-spacing: 1px;
    --border-radius: 4px;
    --element-border: 1px solid #aba9a9;
    --element-shadow: 1px 2px 3px rgba(148, 148, 148, 0.3);
}

body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}

a:link {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:visited {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.page-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard-container {
    background-color: var(--secondary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 0 15px 0 25px;
    font-size: 1.2rem;
}

.dashboard-title {
    position: sticky;
    top: 2rem;
}

.dashboard-navlink-top {
    position: sticky;
    top: 8.6rem;
}

.dashboard-navlink-bot {
    position: sticky;
    top: 25.6rem;
}

.dashboard-container > ul > li:not(.title) {
    transition: padding-left .2s ease-in-out;
}

.dashboard-container > ul > li:not(.title):hover {
    padding-left: 0.3rem;
}

.dashboard-title > li {
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 5px;
    font-size: 1.8rem;
    font-family: 'Snarsky', sans-serif;
    margin: 2rem 0 4rem 0;
    color: var(--primary-color);
}

.dashboard-navlink-top {
    margin-bottom: 4rem;
}

.dashboard-navlink-top > li {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: var(--letter-spacing);
}

.dashboard-navlink-bot > li {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: var(--letter-spacing);
}

.icon {
    fill: var(--primary-color);
}

.header-container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.header-searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 3rem;
}

.header-searchbar-container > .icon {
    width: 22px;
}

.header-searchbar-container > input {
    flex: 1;
    background-color: var(--tertiary-color);
    border: none;
    margin: 0 4rem 0 2rem;
    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius);
    border: var(--element-border);
    transition: box-shadow .5s ease;
}

.header-searchbar-container > input:focus {
    outline: none;
    border: var(--element-border);
    box-shadow: var(--element-shadow);
} 

.header-profile-container {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
    margin: 1rem 0;
    padding-right: 1rem;
}

.profile-logo-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 0.2rem
}

.header-welcome-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    gap: 1rem;
    margin-left: 3rem;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.welcome-text-top {
    font-size: 0.8rem;
}

.welcome-text-bot {
    font-size: 1.1rem;
    font-weight: bolder;
}

.header-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header-buttons-container > button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0.4rem 0;
    width: 100px;
    transition: box-shadow .5s ease;
}

.header-buttons-container > button:hover {
    box-shadow: var(--element-shadow);
}

.main-container {
    background-color: var(--tertiary-color);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    color: var(--secondary-color);
}

.main-left-section > p {
    padding: 1.5rem 0 1rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.main-left-card-container {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-bottom: 1rem;
}

.card {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border-left: 5px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0.8rem;
}

.card-top {
    font-weight: bold;
    font-size: 1rem;
    padding: .8rem 0;
}

.card-main {
    color: var(--card-text-color);
    max-height: 80%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    padding-bottom: .8rem;
    flex: 1;
}

.card-bot {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: .8rem;
}


.card-bot > img:hover {
    cursor: pointer;
}

.main-right-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.main-right-section > div > p {
    padding: 1.5rem 0 1rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.main-right-annoucements-card-container {  
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem .8rem;
    margin-right: 1rem;
}

.announcement-card {
    display: flex;
    flex-direction: column;
    padding: 1rem .4rem;
    gap: .3rem;
}

.central {
    border-top: var(--element-border);
    border-bottom: var(--element-border);
}

.announcement-top {
    font-weight: bold;
    font-size: 1rem;
}

.announcement-main {
    color: var(--card-text-color);
    font-size: .8rem;
}

.main-right-trending-card-container {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem .8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.trending-card {
    display: flex;
    padding: 1rem .4rem;
    gap: .3rem;
    align-items: center;
}

.trending-profile {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-left: .3rem;
}

.trending-top {
    font-weight: bold;
    font-size: 1rem;
}

.trending-bot {
    color: var(--card-text-color);
    font-size: .8rem;
}

.sidebar-toggle-btn {
    display: none;
}

@media (max-width:1024px) {
    .header-buttons-container {
        flex-wrap: nowrap;
    }

    .sidebar-toggle-btn {
        display: block;
    }

    .dashboard-container {
        display: none;
    }

    .header-container{
        grid-column: 1 / -1;
    }

    .main-container {
        grid-column: 1 / -1;
    }
}

.sidebar-toggle-btn {
    cursor: pointer;
    position: absolute;
    top: 65px;
    left: 10px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    border: none;
    padding: .4rem;
    z-index: 9999;
}

.sidebar-toggle-btn:focus {
    outline: none;
}

