* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Snarsky';
    src: url('./fonts/SnarskyOldStyleNarrow.ttf') format('truetype');
}

:root {
    --primary-color: #f2f2f2;
    --secondary-color: #313640;
    --tertiary-color: #e6e6e6;
    --letter-spacing: 1px;
    --border-radius: 4px;
    --element-border: 1px solid #aba9a9;
    --element-shadow: 1px 2px 3px rgba(148, 148, 148, 0.3);
}

body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}

a:link {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:visited {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.page-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard-container {
    background-color: var(--secondary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 0 15px 0 25px;
    font-size: 1.2rem;
}

.dashboard-container > ul > li:not(.title) {
    transition: padding-left .2s ease-in-out;
}

.dashboard-container > ul > li:not(.title):hover {
    padding-left: 0.3rem;
}

.dashboard-title > li {
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 5px;
    font-size: 1.8rem;
    font-family: 'Snarsky', sans-serif;
    margin: 2rem 0 4rem 0;
    color: var(--primary-color);
}

.dashboard-navlink-top {
    margin-bottom: 4rem;
}

.dashboard-navlink-top > li {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: var(--letter-spacing);
}

.dashboard-navlink-bot > li {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: var(--letter-spacing);
}

.icon {
    fill: var(--primary-color);
}

.header-container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.header-searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 3rem;
}

.header-searchbar-container > .icon {
    width: 22px;
}

.header-searchbar-container > input {
    flex: 1;
    background-color: var(--tertiary-color);
    border: none;
    margin: 0 4rem 0 2rem;
    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius);
    border: var(--element-border);
    transition: box-shadow .5s ease;
}

.header-searchbar-container > input:focus {
    outline: none;
    border: var(--element-border);
    box-shadow: var(--element-shadow);
} 

.header-profile-container {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
    margin: 1rem 0;
    padding-right: 1rem;
}

.profile-logo-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 0.2rem
}

.header-welcome-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    gap: 1rem;
    margin-left: 3rem;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.welcome-text-top {
    font-size: 0.8rem;
}

.welcome-text-bot {
    font-size: 1.1rem;
    font-weight: bolder;
}

.header-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header-buttons-container > button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0.4rem 0;
    width: 100px;
    transition: box-shadow .5s ease;
}

.header-buttons-container > button:hover {
    box-shadow: var(--element-shadow);
}

.main-container {
    background-color: var(--tertiary-color);
    grid-column: 2 / 3;
}

@media (max-width:1000px) {
    .header-buttons-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}